@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
.c_home {
  background-color: rgba(255, 190, 50, 1);
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 68vh;
  position: relative;
}
/* .container_r{
 
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(255, 190, 50, 1);
  width: 80%;
  height: 80vh;
  max-width: 800px;
  max-height: 600px;
  margin: auto;
  margin-top: 2%;
  border-radius: 12px;
  background-color: rgba(255, 190, 50, 1);
  padding: 25px;
} */

.container_r {
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(255, 190, 50, 1);
  width: 80%;
  min-height: 300px; /* Ustawienie minimalnej wysokości */
  max-width: 800px;
  margin: auto;
  margin-top: 2%;
  border-radius: 12px;
  background-color: rgba(255, 190, 50, 1);
  padding: 25px;
  align-items: stretch; /* Dostosuj wysokość do zawartości */
}

.container_l {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgba(255, 190, 50, 1);
  height: 480px;
  width: 380px;
  margin: auto;
  margin-top: 1%;
  border-radius: 12px;
  background-color: rgba(255, 190, 50, 1);
  padding: 25px;
}
h1 {
  font-weight: bold;
  text-align: center;
  color: #2d3032;
  font-family: Verdana, Arial;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.napis_home {
  font-size: 30px;
  color: #ffffff;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 0px;
}
.napis_home2 {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 70%;
  font-size: 11px;
  color: #9b9fa1;
}

h2 {
  font-weight: bold;
  text-align: center;
  font-family: Roboto Slab, Montserrat;
  color: rgb(102, 180, 211);
  text-shadow: 1px 2px 0 black;
  font-size: 30px;
}
span {
  font-size: 13px;
  font-family: Verdana, Arial;
  margin-bottom: 10px;
  color: hwb(214 46% 51%);
}
button {
  border-radius: 6px;
  border: 1px solid #2d3032;
  background-color: #2d3032;
  color: #ffffff;
  font-size: 15px;
  font-weight: bolder;
  padding: 16px 100px;
  letter-spacing: 1px;
  width: 92%;
  margin-top: 5%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 80ms ease-in;
}
.profilb {
  border: 1px solid #f3f6f8;
  border-radius: 9px;
  color: rgb(65, 63, 63);
  padding: 13px 35px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  letter-spacing: 1px;
  margin-top: 3%;
  margin-left: 13%;
  text-align: center;
  align-items: center;
}
.b_h {
  text-align: center;
  width: 16%;
  height: 8%;
  margin-top: 20px;
  align-items: center;
  padding: 5px;
}
input {
  background-color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  border: none;
  height: 20px;
  width: 300px;
  padding: 12px 15px;
  margin: 8px 0;
  margin-top: 15px;
  margin-left: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
a {
  color: rgba(0, 165, 255, 1);
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  margin: 15px 0;
  text-align: center;
}
.column {
  display: flex;
  white-space: nowrap;
  flex-direction: column;
  /* margin-right: 20px; */
  width: 50%;
}
.img_h {
  position: absolute;
  bottom: 0;
  width: 25%;
}
.mainframe {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: rgba(241, 250, 255, 1);
}

.b_m {
  text-align: center;
  width: 10%;
  height: 4%;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 5px;
  background-color: rgba(241, 250, 255, 1);
  color: #574d4d;
  border-radius: 6px;
  font-size: 6px;
  padding: 16px 100px;
  letter-spacing: 1px;
  margin: 0 10px 0 10px;
}

.mainpframe {
  border: 2px solid rgba(255, 190, 50, 1);
  display: flex;
  /* align-items: center; */
  justify-content: center;
  min-height: 380px; /* min-height na 100% widoku */
  width: 700px;
  margin: auto;
  margin-top: 30px;
  border-radius: 12px;
  background-color: rgba(255, 190, 50, 1);
  padding: 15px;
}

.full-width {
  width: 100%;
}

.result {
  background-color: rgb(54, 53, 53);
  color: #ffffff;
  margin-bottom: 20px;
  border: 3px solid rgb(54, 53, 53);
  margin-left: 15%;
  width: 70%;
  justify-content: center;
  border-radius: 4px;
  font-size: 20px;
}

.przesiadki {
  background-color: rgb(255, 255, 255);
  color: rgb(54, 53, 53);
}

.planeframe {
  background-color: #ffffff;
  color: rgb(54, 53, 53);
  margin-bottom: 5px;
  margin-top: 30px;
  border: 3px solid rgb(54, 53, 53);
  margin-left: 2%;
  width: 50%;
  border-radius: 10px;
  font-size: 20px;
}
.planeframe2 {
  background-color: rgba(241, 250, 255, 1);
  color: rgb(54, 53, 53);
  margin-bottom: 5px;
  margin-top: 30px;
  border: 3px solid rgba(241, 250, 255, 1);
  margin-left: 2%;
  width: 50%;
  border-radius: 10px;
  font-size: 20px;
}

.pp {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  border: none;
  height: 15px;
  width: 500px;
  padding: 3px 10px;
  margin-top: 0px;
  margin-left: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #2d3032;
  font-family: Verdana, Arial;
}
